<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: A table</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/searchStyle.css}" rel="stylesheet" />
    <script>
      window.addEventListener('load', function () {
          connect();
      });
  </script>
<body>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/index">Index a Url</a></li>
            <li><a href="/admin">Administration page</a></li>
    </ul>
    </div>
    <div class="search-query" th:text="'Searching for: ' + ${query}"></div>
    <table>
        <tbody>
            <tr th:each="indexObject, iStat : ${urls}" th:class="${iStat.odd}? 'odd-row' : 'even-row'">
              <td class="url-block">
                <span class="label">URL:</span>
                <span class="value" th:text="${indexObject.url}"></span>
                <a class="view-button" th:href="@{/urlLinks(url=${indexObject.url})}">View</a>
              
              </td>
              <td class="title-block">
                <span class="label">Title:</span>
                <span class="value" th:text="${indexObject.titulo}"></span>
              </td>
              <td class="citation-block">
                <span class="label">Citation:</span>
                <span class="value" th:text="${indexObject.citacao}"></span>
              </td>
            </tr>
            <tr th:if="${#lists.isEmpty(urls)}">
              <td colspan="3" class="no-results">No results found</td>
            </tr>
          </tbody>
    </table>
</body>
</html>
