<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf Template</title>
        <link th:href="@{/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/indexUrlPage">Index a Url</a></li>
                    <li><a href="/admin">Administration page</a></li>
                    <li><a href="/hackerNewsUser"> Hacker News User's Stories</a></li>
                </ul>
            </div>
            <div class="search-box">
                <div class="logo">GOOGOL</div>
                <form th:action="@{/hackerNewsUserSearch}" method="get"   
                    onsubmit="return validateForm(event)">
                    <!--?????-->
                    <input type="text" name="user" placeholder="Hacker News User..." />
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <div class="login-button">
                <button>Login</button>
            </div>
        </div>
        <script>
    function validateForm(event) {
        var searchInput = document.getElementsByName('user')[0];
        if (searchInput.value.trim() === '') {
            event.preventDefault();
            alert('Please enter a search query.');
        }
    }
</script>
    </body>
</html>
