<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Template</title>
    <link th:href="@{/searchStyle.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/indexUrlPage">Index a Url</a></li>
            <li><a href="#">Administration page</a></li>
        </ul>
    </div>
    <div class="search-box">
        <div class="logo">GOOGOL</div>
        <form th:action="@{/indexUrl}" method="get" onsubmit="return validateForm()">
            <input type="text" name="text" placeholder="Search..." />
            <input type="submit" value="Search" />
        </form>
    </div>
    <div class="login-button">
        <button>Login</button>
    </div>
</div>
</body>
</html>
