<!DOCTYPE html>
<html>
<head>
    <title>Googol</title>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! This application relies on Javascript being
    enabled. Please enable Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <button id="Submit" class="btn btn-default" type="submit">Submit</button>
                    <input type="text" id="message" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
    
</div>
</body>
</html>
