<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: A table</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/searchStyle.css}" rel="stylesheet" />
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/index">Index a Url</a></li>
            <li><a href="#">Administration page</a></li>
    </ul>
    </div>
    <div class="search-query" th:text="'Searching for: ' + ${url}"></div>
    <table>
        <tbody>
            <tr th:each="linkedUrl, iStat : ${linkedUrls}" th:class="${iStat.odd}? 'odd-row' : 'even-row'">
              <td class="url-block">
                <span class="label">URL:</span>
                <span class="value" th:text="${linkedUrl}"></span>
              </td>
            </tr>
            <tr th:if="${#lists.isEmpty(linkedUrls)}">
              <td colspan="3" class="no-results">No urls point to the given url.</td>
            </tr>
          </tbody>   
    </table>
    <div class="pagination">
        <a href="Prev">Previous Page</a>
        <a href="#" th:text="${currentPage}"></a>
        <a href="Next">Next Page</a>
        <!-- Add more pages as needed -->
    </div>
</body>
</html>
